

body{
    padding: 1rem;
}

/* Eventos */

.evento__uno{
    display: flex;
    align-items: flex-end;
    background-image: url(../recursos/acuaridas.webp);
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin-bottom: 1rem;
}

.evento__dos{
    display: flex;
    align-items: flex-end;
    background-image: url(../recursos/eclipse_lunar.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin-bottom: 1rem;
}

.evento__tres{
    display: flex;
    align-items: flex-end;
    background-image: url(../recursos/luna_llena-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin-bottom: 1rem;
}

.evento__tituloSecundario{
    text-align: center;
    background: rgba(255,255,255,0.4);
    width: 100%;
    font-size: 0.8em;
}

.col p{
    border-top: 1px solid;
}

/* Multimedia */

.multimedia__iframe{
    display: flex;
}


@media (min-width: 577px) and (max-width: 710px){
    .multimedia__fila{
        display: flex;
        flex-direction: column;
    }

}

/* Footer */

footer{
    background-color: #0b476f;
    background-image: linear-gradient(180deg, #0b476f 0%, #041825 100%);  
}

/* footer a {
    color: #fff;
} */

/*CELULAR*/
@media (min-width: 320px) and (max-width: 576px){ 

    .evento__uno{
        height: 300px;
    }

    .evento__dos{
        height: 300px;
    }

    .evento__tres{
        height: 300px;
    }
}